---
import type { Project } from '../../types';
import RichText from '../RichText';
import ProjectStatus from './ProjectStatus.astro';
import RowLink from '../layout/RowLink.astro';

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<RowLink href={`/projects/${project.slug}`}>
  <div class="space-y-4">
    <div class="flex items-center justify-between">
      <h2 transition:name={`project-${project.slug}`}>{project.title}</h2>

      <ProjectStatus project={project} />
    </div>

    <!-- @ts-ignore -->
    <RichText text={project.description} />
  </div>
</RowLink>
