---
import type { Project } from '../../types';
import ProjectStatus from './ProjectStatus.astro';
import RowLink from '../layout/RowLink.astro';
import { marked } from 'marked';

interface Props {
  project: Project;
}

const { project } = Astro.props;

const markdown = marked.parse(project.description);
---

<RowLink href={`/projects/${project.slug}`}>
  <div class="space-y-4">
    <div class="flex items-center justify-between">
      <h2 transition:name={`project-${project.slug}`}>{project.title}</h2>

      <ProjectStatus project={project} />
    </div>

    <p set:html={markdown} />
  </div>
</RowLink>
